<div class="shop-slider">
	<ul>
		<li><a href="#"><img src="/images/shop-slider-img.jpg" alt="foto"></a></li>
	</ul>
	<ul>
		<li><a href="#"><img src="/images/shop-slider-img.jpg" alt="foto"></a></li>
	</ul>
	<ul>
		<li><a href="#"><img src="/images/shop-slider-img.jpg" alt="foto"></a></li>
	</ul>
	<ul>
		<li><a href="#"><img src="/images/shop-slider-img.jpg" alt="foto"></a></li>
	</ul>
	<ul>
		<li><a href="#"><img src="/images/shop-slider-img.jpg" alt="foto"></a></li>
	</ul>
	<ul>
		<li><a href="#"><img src="/images/shop-slider-img.jpg" alt="foto"></a></li>
	</ul>
	<div class="shop-slider__nav">
        <a href="#" class="shop-slider__link shop-slider__link--prev" data-nav="prev"></a>
        <span class="shop-slider__input"></span>
        <a href="#" class="shop-slider__link shop-slider__link--next" data-nav="next"></a>
    </div>
</div>