<div class="filter">
	<form action="#">
		<div class="filter__cont filter__cont--size">
			<span>Размер: 36 - 36,5</span>
		</div>
		<div class="filter__cont filter__cont--color">
			<span>Цвет: любой</span>
		</div>
		<div class="filter__cont filter__cont--heel">
			<span>Высота каблука: любая</span>
			<div class="filter__drop" hidden>
			<p>Высота каблука:</p>
				<ul>
					<li>
						<input type="checkbox" name="heel1" id="heel1">
						<label for="heel1">2-4 см</label>
					</li>
					<li>
						<input type="checkbox" name="heel2" id="heel2">
						<label for="heel2">4-6 см</label>
					</li>
					<li>
						<input type="checkbox" name="heel3" id="heel3">
						<label for="heel3">6-8 см</label>
					</li>
					<li>
						<input type="checkbox" name="heel4" id="heel4">
						<label for="heel4">8-10 см</label>
					</li>
				</ul></div>
		</div>
		<div class="filter__cont filter__cont--cost">
			<span>Цена: 21 000-35 800 руб.</span>
		</div>
		<div class="filter__cont filter__cont--material">
			<span>Материал: любой</span>
		</div>
		<div class="filter__cont filter__cont--brand">
			<span>Бренд: любой</span>
		</div>
	</form>
</div>