@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">
 
@@include('../components/header/header.html', {
	"login" : false
})

@@include('../components/breadcrumbs/breadcrumbs.html', {
	"title" : "Магазины",
	"first" : "Главная",
	"second" : "Магазины",
	"third" : false
})

@@include('../components/shops/evro-shops.html')

@@include('../components/paginator/paginator.html')

@@include('../components/footer/footer.html')

</div>

@@include('../components/scripts/scripts.html')

<script>
$( document ).ready(function() {
    $('div.shop-slider').sliderShop({
        caseLimit: 1,
        spaceSection: 'auto',
        count: true
    });
});
</script>

</body>
</html>