<div class="zoomer">
	<div class="zoomer__main">
		<img src="../../images/zoomer-img-def1.jpg" alt="foto">
	</div>
	<div class="zoomer__tooltip">
		<img src="../../images/zoomer-img-big1.jpg" alt="foto">
	</div>
	<ul class="zoomer__list">
		<li class="active">
			<a href="#">
				<img src="../../images/zoomer-img-small1.jpg" alt="foto">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="../../images/zoomer-img-small1.jpg" alt="foto">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="../../images/zoomer-img-small1.jpg" alt="foto">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="../../images/zoomer-img-small1.jpg" alt="foto">
			</a>
		</li>
	</ul>
</div>