<div class="shops">
	<h5>Магазины компании ЕвроОбувь</h5>
	<p>Наша компания занимается продажей обуви уже более 10 лет.
		За это время мы изучили спрос и особенности российского потребителя, что немало важно!
		Это в свою очередь дало возможность сузить выбор среди многочисленных поставщиков обуви и наладить сотрудничество только 		с теми,
		которые, действительно могут удовлетворить наших покупателей, не только качественным исполнением и соответствием  всем 		модным
		тенденциям , но и адаптацией колодок обуви под особенности стопы российского потребителя.
	</p>
	<div class="shops__tabs">
		<a href="#" class="button button--fix button--default">Магазины СКФО</a>
		<a href="#" class="button button--fix button--default">Магазины ЮФО</a>
	</div>
	@@include('shop.html')
	@@include('shop.html')
	@@include('shop.html')
	@@include('shop.html')
</div>