<div class="shop">
	<div class="shop__title">
		Магазин <span>ЕвроОбувь</span> в Пятигорске
	</div>
	<div class="shop__map"></div>
	@@include('../sliders/slider-shop.html')
	<a href="#">фото</a>
	<a href="#">Карта проезда</a>
	<p>
		Магазин в самом центре Пятигорска. Работает с 2012 года.
		Широкий ассортимент всех марок немецкой обуви.
	</p>
	<div class="shop__adress">
		<p>Адресс:</p>
		<p>Пятигорск, ул. Дзержинского, Тц Детский мир</p>
		<p>Часы работы: 09:00 - 20:00</p>
		<p>Телефон 8 (8793) 3-47-98</p>
		<p>Как добраться:</p>
		<p>Номера трамваев: 4,7,8,7; Маршрутки: 1,6,7</p>
		<p>Остановка Держинского</p>
	</div>
	<div class="shop__recall">
		<div class="qq__message">
			<span class="qq__name">Марина (3 недели назад)</span>
			<p class="qq__text">
				Подскажите, пожалуйста, если сегодня модели нет в наличие,
				значит ли это, что ее не будет большее в продаже?
			</p>
		</div>
	</div>
</div>