.basket	{
	h3 {
		font-size: 24px;
		font-weight: bold;
	}

	@include e('thead') {
		font-size: 12px;
		margin: 15px 0;
	}

	@include e('col') {
		@extend .inline-block-vtop;
		text-align: center;

		@include m('img') {width: 180px;}
		@include m('name') {width: 235px; text-align: left;}
		@include m('price') {width: 175px;}
		@include m('quantity') {width: 160px;}
		@include m('cost') {width: 130px;}
		@include m('sale') {
			a {
				text-decoration: none;
				border-bottom: 1px dotted $clr-default;
				font-size: 12px;
				font-weight: 500;
    		}
		}
	}

	@include e('tooltip') {
		display: none;
	}

	@include e('prod') {
		border: 1px solid $clr-gray-default;
		border-radius: 5px;
		position: relative;
		padding: 17px 0;
		margin: 10px 0;

		@include m('close') {
			background:transparent url('/images/icon-sl.png') -80px 0 no-repeat;
			position: absolute;
			height: 16px;
			width: 16px;
			left: 20px;
			top: 63px;	
		}

		.basket__col {
			@include m('img') {}
			@include m('name') {
				padding: 17px 0;
				h4 {
					font-size: 18px;
					font-weight: bold;
				}
				span {
					font-size: 12px;
				}
				.size {
					font-weight: bold;
					padding: 0 3px;
				}
			}
			@include m('price') {
				padding: 20px 0;
				font-size: 18px;
				font-weight: bold; 
			}
			@include m('quantity') {
				padding: 10px 0;
				input[type="text"] {
					width: 80px;
					font-size: 18px;
					font-weight: bold;
					color: #000;
					text-align: center;
				}
			}
			@include m('cost') {
				padding: 20px 0;
				font-size: 18px;
				font-weight: bold;
				color: $clr-red;
			}
			@include m('sale') {
				padding: 20px 0 20px 5px;
    			box-sizing: border-box;
    			font-weight: bold;

			}
		}
	}

	@include e('count') {
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
		padding: 0 5px;

	}

	@include e('img') {
		    border: 1px solid $clr-gray-default;
		    border-radius: 2px;
			width: 103px;
			height: 103px;
			margin-left: 55px;
	}
}

.sale-box {
	font-size: 12px;
	color: $clr-default;
	font-weight: 500;
	font-style: italic;
	line-height: 1.8em;
}

.summ {
	font-size: 30px;
	font-weight: bold;
	margin: 30px 0;

	@include e('old') {
		font-size: 24px;
		font-weight: 500;
		text-decoration: line-through;
	}

	@include e('new') {
		color: $clr-red;
	}

	@include e('economy') {
		font-size: 12px;
		padding: 10px 0 20px;
		color: $clr-gray;
	}

	.button {
		font-size: 12px;
	}
}
